:root {
	--d-turkos: #217680;
	--turkos: #32becf;
	--l-turkos: #cff8fc;
	--l-aprikos: #fceccf;
	--l-orange: #f59b42;
	--citrus: #e9f23a;
}

.imgCenter {
	vertical-align: middle;
}

.TopMenu {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 65px;
	border: 0px;

}

.LeftMenu {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 300px;
	height: 100%;
	border: 0px;

}

.AppContent {
	position: absolute;
	top: 0px;
	left: 300px;
	width: 80%;
	height: 100%;
	border: 0px;
	overflow: auto;
}

.BigSign {
	background-color: var(--l-turkos);
	color: var(--d-turkos);
	font-size: 40px;
	font-family: ufo;
	font-weight: bolder;
	padding: 5px 10px;
	border-radius: 10px;

	text-align: center;
	text-decoration: none;
	overflow: hidden;
	border: 5px solid var(--d-turkos);

}


.TopMenuButton {
	background-color: var(--d-turkos);
	color: var(--l-orange);
	font-size: 25px;
	font-family: button;
	font-weight: bolder;
	padding: 5px 10px;
	border-radius: 10px;

	text-align: center;
	text-decoration: none;
	overflow: hidden;
	border: 3px solid var(--l-orange);

}

.TopMenuButton:hover {
	background-color: var(--turkos);
	color: var(--citrus);
}

.TopMenuBody {
	background-color: var(--d-turkos);
}


.MainContentFrame {
	padding: 0;
	top: 65px;
	left: 0;
	width: 100%;
	height: 80%;
	overflow: hidden;
	position: absolute;
	background: var(--d-turkos);
}

.IndexBody {
	background: var(--d-turkos);
}


.ContentBody {
	background: #EB984E;
}

.AppBody {
	background: var(--l-turkos);
}


/* Remove default bullets */
ul {
	color: var(--d-turkos);
	list-style-type: none;
}

/* Remove margins and padding from the parent ul */
.LeftMenus {
	font-family: button;
	margin: 0;
	padding: 0;

}

a.LeftMenus {
	text-decoration: none;
}

a.LeftMenus:link {
	color: var(--d-turkos);
}

a.LeftMenus:hover {
	background: var(--turkos);
	color: var(--citrus);

}

/* Style the caret/arrow*/
.caret {
	cursor: default;
}

/* Create the caret/arrow with a unicode, and style it */

.caret::before {
	content: "\25B6";
	color: var(--d-turkos);
	display: inline-block;
	margin-right: 6px;
}


/* Rotate the caret/arrow icon when clicked on (using JavaScript) */
.caret-down::before {
	transform: rotate(90deg);
	color: var(--citrus);

}

/* Hide the nested list */
.nested {
	display: none;
}

/* Show the nested list when the user clicks on the caret/arrow (with JavaScript) */
.active {
	display: block;
}



@font-face {
	font-family: button;
	src: url(fonts/RobotoSlab-ExtraBold.ttf);
}

@font-face {
	font-family: rubrik;
	src: url(fonts/Ewert-Regular.ttf);
}

@font-face {
	font-family: bread;

	src: url(fonts/Roboto-Light.ttf);
}

@font-face {
	font-family: ufo;

	src: url(fonts/BalooDa2-Bold.ttf);
}

@font-face {
	font-family: punk;

	src: url(fonts/MedulaOne-Regular.ttf);
}

.inline-div {
	display: inline-block;
}

.inline-txtarea {
	resize: none;
	border: 2px solid red;
	height: 75%;
}