<!DOCTYPE html>
<html lang="sv">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta content="text/html" charset="UTF-8">
	<script src="../../static/js/index.js" charset="UTF-8"></script>
	<link rel="stylesheet" type="text/css" href="../../static/css/MagicStyle.css">
	<title>Välkommen</title>

</head>

<body class="ContentBody">
	<div id="greeting" class="BigSign">Hoppsan ERROR 404 Page Not Found!</div>
		<img class="imgCenter"
			src="https://photos.smugmug.com/Hobbies/Magic-club/DefaultContent/i-HtHjLJg/0/be239c38/L/kittenMe-%281%29-L.gif"
			width="600px" height="600px">
	
</body>

</html>