<!DOCTYPE html>
<html lang="sv">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta content="text/html" charset="UTF-8">
	<script src="../../static/js/index.js" charset="UTF-8"></script>
	<link rel="stylesheet" type="text/css" href="../../static/css/MagicStyle.css">
	<title>Välkommen</title>

</head>

<body class="ContentBody">
	<div id="greeting" class="BigSign">Auosch... det blev visst mankemang o fnurra i linan!?</div>
		<img class="imgCenter"
			src="https://photos.smugmug.com/Hobbies/Magic-club/DefaultContent/i-dBXR7W9/0/b7f009bc/M/computerTroublesm-M.gif"
			width="450px" height="450px">
	
</body>

</html>