@charset "utf-8";

:root {
	--turkois: #4b7d62;
	--hl-turkois: #429d6c;
	--red: #9b1a15;
	--hl-red: #d5120b;
	--orange: #c98314;
	--hl-orange: #f59908;
	--light: #ceb67a;
	--hl-light: #ebd294;
	--black: #1e2315;
	--hl-black: #3f492b;
}

