<html lang="sv">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta content="text/html" charset="UTF-8">
	<script src="../static/js/index.js" charset="UTF-8"></script>
	<link rel="stylesheet" type="text/css" href="../static/css/MagicStyle.css">
	<title>Senil 107</title>

</head>

<body class="ContentBody">
		<div id="greeting" class="BigSign">Allt ordnar sig!</div>
	<div class="someMoreTopMargin">
		<div class="container-fluid">
			<div class="AppBody">
				<fieldset>
					<form>
						<fieldset>
							<legend>Hoppsan</legend>
							
							<div align="center" th:if="${param.error}">
								<p class="error-text">Expired</p>
							</div>
							<div class="someTopMargin">
								<button class="TopMenuButton" name="Submit" value="Login" type="Submit" 
									style="margin-right:10px;">Skicka &aring;terst&auml;llningsl&auml;nk</button><br>
							</div>
							<div class="someTopMargin">
								<a class="common" href="/login">Logga in</a><br>
							</div>
							<div class="someTopMargin">
								<a class="common" href="/register">&Auml;r du inte medlem &auml;nnu? Registrera!</a>
							</div>
						</fieldset>
					</form>
				</fieldset>
			</div>
		</div>
	</div>

</body>

</html>