<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Magisk - Uppdatering - password</title>
	<link rel="stylesheet" type="text/css" href="../static/css/MagicStyle.css">
	<link rel="shortcut icon" type="image/png" href="../static/img/favicon.png">

</head>

<body class="ContentBody">
	<div id="greeting" class="BigSign">Olika l&ouml;senord f&ouml;r olika sidor. L&auml;ngden &auml;r viktigast. L&ouml;senordshanterare &auml;r toppen!</div>
	<div class="container-fluid" style="margin-top: 30px;">

		<div class="AppBody" style="margin-top: 40px;  padding: 20px; border: solid 1px #ddd;">
			<fieldset>
				<legend>Uppdatera l&ouml;senord</legend>
			<form autocomplete="off" action="#" th:action="@{/home/password-update}" th:object="${userupdate}" method="post"
				class="form-signin" role="form">
				<div class="form-group">
					<div class="">
						<input type="text" th:field="*{email}" placeholder="Email" class="form-control" />
					</div>
				</div>
				<div class="form-group">
					<div class="">
						<input type="password" th:field="*{password}" placeholder="L&ouml;senord"
							class="form-control" />
					</div>
				</div>
				<div class="form-group">
					<div class="">
						<input type="password" th:field="*{newPassword}" placeholder="Nytt L&ouml;senord"
							class="form-control" />
					</div>
				</div>
				<div class="someTopMargin">
					<div class="form-group">
						<div class="">
							<button type="submit" class="TopMenuButton">Se s&aring; &auml;ndra</button>
						</div>
					</div>
				</div>
				
				<p class="error-text">
					<span th:utext="${message}"></span>
				</p>


			</form>
			</fieldset>
		</div>
	</div>
</body>

</html>